
        <!--BOTTOM SECTION OF THE PAGE-->
        <div class="jumbotron jumbotron-fluid lower-section" >
            <div class="container bottom-styles">
                <div class="row">
                    <div class="col bottom-heading">ABOUT US:</div>
                    <div class="col bottom-heading">INTERNSHIPS BY CATEGORY:</div>
                    <div class="col bottom-heading">INTERNHIPS BY CITY: </div>
                </div>
                <div class="row ">
                    <div class="col"><a class=" text-white" href="/aboutus">About us</a></div>
                    <div class="col"><a class=" text-white"  href="/internships/Part-time">Part Time</a></div>
                    <div class="col"><a class=" text-white"  href="/internships/work-from-home">Work From Home</a></div>
                </div>
                <div class="row ">
                        <div class="col"><a class=" text-white" href="/team">Our Team</a></div>
                        <div class="col"><a class=" text-white"  href="/internships/Engineering">Enigneering</a></div>
                        <div class="col"><a class=" text-white"  href="/internships/Delhi">Delhi NCR</a></div>
                </div>
                <div class="row ">
                        <div class="col"><a class=" text-white" href="/contact">Contact us</a></div>
                        <div class="col"><a class=" text-white"  href="/internships/MBA">MBA</a></div>
                        <div class="col"><a class=" text-white"  href="/internships/Mumbai">Mumbai</a></div>
                </div>
                <div class="row ">
                        <div class="col"><a class=" text-white" href="/terms">Terms/Conditions</a></div>
                        <div class="col"><a class=" text-white"  href="/internships/GraphicsDesign">Design</a></div>
                        <div class="col"><a class=" text-white"  href="internships/Chennai">Chennai</a></div>
                </div>
                <div class="row ">
                        <div class="col"><a class=" text-white" href="/privacy">Privacy Policy</a></div>
                        <div class="col"><a class=" text-white"  href="/internships/Science">Science</a></div>
                        <div class="col"><a class=" text-white"  href="/internships/Kolkata">Kolkata</a></div>
                </div>
                <div class="row ">
                        <div class="col"></div>
                        <div class="col"><a class=" text-white"  href="/internships/VideoEditing">Video Editing</a></div>
                        <div class="col"><a class=" text-white"  href="/internships/Bangalore">Bangalore</a></div>
                </div>
                <div class="row ">
                        <div class="col"></div>
                        <div class="col"><a class=" text-white"  href="/internships/Law">Law</a></div>
                        <div class="col"><a class=" text-white"  href="/internships/Hyderabad">Hyderabad</a></div>
                </div>
                <div class="row ">
                        <div class="col"></div>
                        <div class="col"><a class=" text-white"  href="/internships/Humanities">Humanities</a></div>
                        <div class="col"><a class=" text-white"  href="/internships/International">International</a></div>
                </div>
                <div class="row ">
                        <div class="col"></div>
                        <div class="col"><a class=" text-white"  href="/internships/Hospitality">Hospitality</a></div>
                        <div class="col"></div>
                </div>
                <div class="row ">
                        <div class="col"></div>
                        <div class="col"><a class=" text-white"  href="/internships/Sports">Sports</a></div>
                        <div class="col"></div>
                </div>
                <div class="row ">
                        <div class="col"></div>
                        <div class="col"><a class=" text-white"  href="/internships/Media">Media</a></div>
                        <div class="col"></div>
                </div>
                <div class="row ">
                        <div class="col"></div>
                        <div class="col"><a class=" text-white"  href="/internships/Entertainment">Entertainment</a></div>
                        <div class="col"></div>
                </div>
                <hr>
            <p class="text-white">Copyright 2018-2020 &copyWesasships.<br>All rights reserved.</p>
            </div>
            
        </div>      