<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Internships
        </a>
        <div class="dropdown-menu" style="min-width: 250px;background-color:#2d2d2d; font-size: 0.8rem;" aria-labelledby="navbarDropdown">
            <div class="row">
                <div class="col text-white dropdown-header">Location</div>
                <div class="col text-white dropdown-header">Stream</div>
            </div>
            <div class="row">
                    <div class="col "><a class=" text-white dropdown-link " href="/internships/Kolkata">Kolkata</a></div>
                    <div class="col "><a class=" text-white dropdown-link"href="/internships/Engineering">Engineering</a></div>
            </div>
            <div class="row">
                    <div class="col "><a class=" text-white dropdown-link " href="/internships/Mumbai">Mumbai</a></div>
                    <div class="col "><a class=" text-white dropdown-link"href="/internships/GraphicsDesign">Graphics Design</a></div>
            </div>
            <div class="row">
                    <div class="col "><a class=" text-white dropdown-link " href="/internships/Chennai">Chennai</a></div>
                    <div class="col "><a class=" text-white dropdown-link"href="/internships/VideoEditing">Video Editing</a></div>
            </div>
            <div class="row">
                    <div class="col "><a class=" text-white dropdown-link " href="/internships/Bangalore">Bangalore</a></div>
                    <div class="col "><a class=" text-white dropdown-link"href="/internships/Science">Science</a></div>
            </div>
            <div class="row">
                    <div class="col "><a class=" text-white dropdown-link " href="/internships/Delhi">Delhi</a></div>
                    <div class="col "><a class=" text-white dropdown-link"href="/internships/Humanities">Humanities</a></div>
            </div>
            <div class="row">
                    <div class="col "><a class=" text-white dropdown-link " href="/internships/Hyderabad">Hyderabad</a></div>
                    <div class="col "><a class=" text-white dropdown-link"href="/internships/MBA">MBA</a></div>
            </div>
            <div class="row">
                    <div class="col "><a class=" text-white dropdown-link " href="/internships/International">International</a></div>
                    <div class="col "><a class=" text-white dropdown-link"href="/internships/Architecture">Architecture</a></div>
            </div>
            <div class="row">
                <div class="col "></div>
                <div class="col "><a class=" text-white dropdown-link"href="/internships/Sports">Sports</a></div>
           </div>
            <div class="row">
                <div class="col "></div>
                <div class="col "><a class=" text-white dropdown-link"href="/internships/Women">Only Women</a></div>
           </div>
           <div class="row">
                <div class="col "></div>
                <div class="col "><a class=" text-white dropdown-link"href="/internships/JobOffer">Job Offer</a></div>
        </div>
            <hr>
            <p class="text-center"><a href="/internships/all_internships" class="text-white" >View All</a></p>
        </div>
    </li>