<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--jQuery and Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Wesasships|About us</title>
        <link rel="shortcut icon" type="image/.jpeg" href="../assets/images/icons/Logo.jpeg">
        <link rel="stylesheet" href="../assets/styles/index-styles.css">
        <link rel="stylesheet" href="../assets/styles/manage-account-styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <style>
            .about-us-info{
                border:1px solid #1295c9;
                border-radius: 8px;
                min-height:80vh;
                max-width: 80vw;
            }
            .link{
                background-color: #1295c9;
                color: white;
                padding: 14px 25px;
                text-align: center; 
                text-decoration: none;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light ">
            <a href="/" class="navbar-brand ml-2"><img id='title-img' src="../assets/images/icons/title_logo.jpeg"></a>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container about-us-info bg-white text-center">
                <div style="margin:1.2rem; max-width: 60vw; display: inline-block;">
                    <legend>About us  : Wesasships</legend>
                        <p>
                            We are a technology based company having a mission of equiping our fellow students to acquire better understanding of their domain by doing live internships and trainings.Internships not only help them gain deeper understanding of the subject but also gives them a slight industrial exposure.
                            We are on a mission to help all such students achieve their dream jobs via such exposures which essentially helps them achieve it.<br>
                            But the major problem is duping the resume(used to apply for internships) due to which the employers suffer the most.We tried to create such a system where the resume building process cannot be duped (click here to know more) and hence the employers only get verified profiles thus reducing their headache and providing seamless solution of Intern Hiring Process.
                        </p>
                    <div>
                        <a class="link" href="/employers/signup">Sign Up as Employer</a><br><br>
                    </div>
                    <div>
                        <legend>Why Us?</legend>
                        <p>
                                We are a technology based company having a mission of equiping our fellow students to acquire better understanding of their domain by doing live internships and trainings.Internships not only help them gain deeper understanding of the subject but also gives them a slight industrial exposure.
                                We are on a mission to help all such students achieve their dream jobs via such exposures which essentially helps them achieve it.
                                
                                But the major problem is duping the resume(used to apply for internships) due to which the employers suffer the most.We tried to create such a system where the resume building process cannot be duped and hence the employers only get verified profiles thus reducing their headache and providing seamless solution of Intern Hiring Process.
                                
                                But the Question Remains what have we created ? 
                                
                                Our site is not just another internship application website that helps employers to hire interns but rather we believe in Verified Profiles of our students that reduces an employers headache.
                                What we have done is we have created such a system which behaves like a normal system but is very different at the time of resume building of a potential candidate which ultimately Is the most important part of an internship application.
                                While creating resume there comes a option to add skills relevant to what the person wants to apply for,while adding skills a test pops up corresponding to each skill which has 10 questions created in such a way that it covers a students knowledge right from basics to advanced level of a subject and the candidate is scored accordingly,at the end a average rating is attached to the candidates profile and is visible to the employer,the higher the ratings the higher is the chance of getting selected and lower is the risk of bad performance of the candidate.Thus creating a kind of perfect system for both employers and the students/candidates.
                                Also any rating is not final and can be always altered by reattempting the skill test and the questions are not same as well,the questions gets semi-randomly selected from a database of problems carefully created by subject experts.
                                For anymore information contact us at <span class="text-info">info@wesasships.com</span>
                                
                        </p>
                    </div>
                    <div>
                        <a class="link" href="/team">Our Team</a><br><br>
                        <a class="link" href="/contact">Contact Us</a>
                    </div>
                 </div>
            </div>
        </div>

        <% include partials/footer.ejs %>
      
</body>
</html>
