<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--jQuery and Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Wesasships</title>
    <link rel="stylesheet" href="/assets/styles/index-styles.css">
    <link rel="shortcut icon" type="image/.jpeg" href="/assets/images/icons/Logo.jpeg">
  </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light ">
            <a href="/" class="navbar-brand ml-2"><img id='title-img' src="/assets/images/icons/title_logo.jpeg"></a>
        </nav>
        <div class="container">
            <div class="interview-area">
               <span class="text-info">Take this online interview to proceed with your application.</span> <hr>
                    <form class="interview-form text-info" method="POST" action="/internships/apply/<%= internship._id %>">
                        <div class="form-group">
                            <div class="alert-info">
                            <p>Note:If you need to show work sample, upload them to google drive and share the link here.</p>
                            </div>
                            <p>Question 1: Why should you be hired for this internship?</p>
                            <label>Answer:</label>
                            <textarea class="form-control" name="answer1" required></textarea>
                        </div>
                        <div class="form-group">
                            <p>Question 2:  Are you available for the said period, starting immediately, for the internship? If not, what is the time period you are available for and the earliest date you can start this internship on?</p>
                            <label>Answer:</label>
                            <textarea class="form-control" name="answer2" required></textarea>
                        </div>
                        <% if(internship.question3) {%>
                            <div class="form-group">
                                <p>Question 3: <%= internship.question3 %></p>
                                <label>Answer:</label>
                                <textarea class="form-control" name="answer3" required></textarea>
                            </div>
                     <%   } %>
                       <% if(internship.question4) { %>
                        <div class="form-group">
                            <p>Question 4: <%= internship.question4 %></p>
                            <label>Answer:</label>
                            <textarea class="form-control" name="answer4" required></textarea>
                        </div>
                     <%  } %>
                        
                        <input type="submit" class="btn btn-primary btn-block" value="Submit">
                    </form>
            </div>
        </div>

    <% include partials/footer.ejs %>
    </body>
</html>