<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--jQuery and Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Wesasships|About us</title>
        <link rel="shortcut icon" type="image/.jpeg" href="../assets/images/icons/Logo.jpeg">
        <link rel="stylesheet" href="../assets/styles/index-styles.css">
        <link rel="stylesheet" href="../assets/styles/manage-account-styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <style>
            .about-us-info{
                border:1px solid #1295c9;
                border-radius: 8px;
                min-height:80vh;
                max-width: 80vw;
            }
            .big-text{
                font-size: 1.3rem;
            }
        </style>
    </head>
  <% include partials/google.ejs %>

    <body>
        <nav class="navbar navbar-expand-sm navbar-light ">
            <a href="/" class="navbar-brand ml-2"><img id='title-img' src="../assets/images/icons/title_logo.jpeg"></a>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container about-us-info bg-white text-center">
                <div style="margin:1.2rem; max-width: 60vw; display: inline-block;">
                    <legend>Contact Us</legend>
                    <br>
                    <p class="text-center  big-text"> For any queries, drop us a mail at <span class="text-info">info@wesasships.com</span> </p><br>
                    <p class="text-center  big-text"> If you are facing problem with your admin dashboard drop us a mail at <span class="text-info">employer@wesasships.com</span></p><br>
                    <p class="text-center  big-text">For general Enquiries : <span class="text-info">info@wesasships.com</span> </p><br>
                    <p class="text-center  big-text">For Franchisee and Business Enquiries : <span class="text-info">business@wesasships.com</span> </p>  <br>                  
                </div>
            </div>
        </div>

        <% include partials/footer.ejs %>

</body>
</html>