<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--jQuery and Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Wesasships|Password Reset</title>
        <link rel="stylesheet" href="../../assets/styles/index-styles.css">
        <link rel="shortcut icon" type="image/.jpeg" href="../assets/images/icons/Logo.jpeg">        
        <style>
            .pass-rest-area{
                min-height: 60vh;
                max-width: 80vh;
                margin: 30px 30px 30px 30px;
                font-size:1.2rem;
            }
        </style>
    </head>
    <% include partials/google.ejs %>

    <body>
        <nav class="navbar navbar-expand-sm navbar-light ">
            <a href="/" class="navbar-brand ml-2"><img id='title-img' src="../../assets/images/icons/title_logo.jpeg"></a>
        </nav>
        <div class="container pass-rest-area ">
            <% if(messages) {%>
                <% if(messages.errorMessage) {%>
                    <div class="alert alert-danger">
                        <p><%= messages.errorMessage %></p>
                    </div>
                <%  } %>
                <% if(messages.successMessage) {%>
                <div class="alert alert-success">
                    <p><%= messages.successMessage %></p>
                </div>
            <%  } %>
        <%   } %>
            <p>
            <legend>Reset Password</legend><br>
                Please enter your new password below.
            </p>
            <form method="POST" action="/<%= root %>/reset/<%= token %>">
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="PassInput" name="password" placeholder="New password"><br>
                 </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ShowPassChkbx">
                    <label class="form-check-label" for="ShowPassChkbx"> Show Password</label>
                </div>
                <div class="form-group">
                    <label for="confirm">Confirm Password:</label>
                    <input class="form-control" type="password" name="confirm"><br><br>
                    <button class="btn btn-primary" type="submit">Update Password </button>
              </div>                
            </form>
            <script>
                    $('#ShowPassChkbx').click(()=>{
                  var type =  $('#PassInput').attr('type');
                  if(type === 'text');
                    $('#PassInput').attr('type','password');
                  if(type === 'password')
                    $('#PassInput').attr('type','text');
                });
                </script>
        </div>

        <% include partials/footer.ejs %>
       
    </body>
</html>