<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--jQuery and Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Wesasships|About us</title>
        <link rel="shortcut icon" type="image/.jpeg" href="../assets/images/icons/Logo.jpeg">
        <link rel="stylesheet" href="../assets/styles/index-styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            #title-img{
                    max-height: 70px;
                    max-width: 200px;
                }
             .team-info{
                border:1px solid #1295c9;
                border-radius: 8px;
                min-height:80vh;
                max-width: 90vw;
            }
            .profile-area{
                margin: 5%;
                padding: 10px 10px 10px 10px;
            }
            .profile-card{
                width: 15rem;
                border:1px solid #1295c9;
            }
            @media only screen and (max-width:500px){ .profile-card {margin-bottom: 50px;}} 

            .profile-img{
                display: inline-block;
                border:1px solid #1295c9;
                border-radius: 1000px;
                width: 8rem;
                height: 8rem;
                margin-top: 5%;
                margin-left: 25%;
                margin-right: 25%;
            }
            .fa {
                padding: 12px;
                font-size: 15px;
                width: 30px;
                height: 30px;
                text-align: center;
                text-decoration: none;
                border-radius: 50%;
            }
            
            .fa-facebook {
                background: #3B5998;
                color: white;
            }

        .fa-linkedin {
            background: #007bb5;
            color: white;
        }
        </style>
    </head>
  <% include partials/google.ejs %>

    <body>
        <nav class="navbar navbar-expand-sm navbar-light ">
            <a href="/" class="navbar-brand ml-2"><img id='title-img' src="../assets/images/icons/title_logo.jpeg"></a>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container team-info bg-white text-center">
                <legend> Our Team:</legend>
                <div class="row profile-area">
                    <div class="col">
                        <div class="card profile-card">
                                <img class="card-img-top profile-img" src="../assets/images/icons/ashish.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Ashish Awasthi</h5>
                                    <p class="card-text">Founder and Business Development Manager.</p>
                                    <a href=" https://www.facebook.com/ashish.awasthi.96558" class="fa fa-facebook"></a>
                                    <a href=" https://in.linkedin.com/in/ashish-awasthi-b6011a139" class="fa fa-linkedin"></a><br>
                                    <a href="http://ashish.wesas.in" class="fa fa-globe" style="font-size:35px;margin-right:15px;"></a>
                                </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card profile-card">
                                <img class="card-img-top profile-img" src="../assets/images/icons/raksha.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Raksha Awasthi</h5>
                                    <p class="card-text"> Management and PR.</p>                                 
                                    <a href="https://www.facebook.com/awasthiraks2919" class="fa fa-facebook"></a>
                                    <a href="http://raksha.wesas.in" class="fa fa-globe" style="font-size:35px;margin-right:15px;"></a>
                                </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card profile-card">
                            <img class="card-img-top profile-img" src="../assets/images/icons/ajay.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Ajay Mehra</h5>
                                <p class="card-text"> Corporate Partner.</p>
                                <a href="https://www.facebook.com/ajay.mehra.792" class="fa fa-facebook"></a>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row profile-area">
                        <div class="col">
                            <div class="card profile-card">
                                <img class="card-img-top profile-img" src="../assets/images/icons/subhasis.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Subhasis Das</h5>
                                    <p class="card-text"> Developer.</p>
                                    <br><br>
                                  <!--  <p>Contact: 9038955740</p>         -->                           
                                    <a href="https://www.facebook.com/omega.ohm.54" class="fa fa-facebook"></a>
                                    <a href="https://www.linkedin.com/in/subhasis-das-6a00aa172/" class="fa fa-linkedin"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include partials/footer.ejs %>
            
      </body>
      </html>